<footer id="footer">
    <img src="../../assets/img/banner.png" id="footer-background" alt="">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="index.html"><img src="../../assets/img/MiaBLogo.png" alt="" class="img-fluid logo-footer"></a>
                <!-- <div class="footer-about">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, </p>
                </div> -->
            </div>
            <div class="col-md-3">
                <div class="social-links">
                    <h2>Contáctanos</h2>
                    <div class="social-icons">
                        <a href="https://wa.me/message/ZCNQFNJRAUGUH1" class="btn btn-whatsapp" target="_blank">
                            <img src="../../assets/img/whatsapp.png" alt="WhatsApp Icon" class="whatsapp-icon">
                            WhatsApp
                        </a>
                        <a href="https://www.instagram.com/miabeautycol/" class="btn btn-instagram" target="_blank">
                            <img src="../../assets/img/instagram.png" alt="Instagram Icon" class="instagram-icon">
                            Instagram
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="address">
                    <h2>Ubicación</h2>
                    <p>Medellín, Colombia</p>
                </div>
                <div class="phone">
                    <h2>Linea de Anteción</h2>
                    <p class="phone-number">+57 350 6955020</p>
                </div>
            </div>
            
        </div>
    </div>
</footer>
<section id="copy-right">
    <div class="copy-right-sec"><i class="fa-solid fa-copyright"></i>
        Developed in 2023 Powerd By Carlos Andres Marin
    </div>
</section>