	<!-- footer section start -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href="index.html"><img src="../../assets/img/MiaBLogo.png" alt="" class="img-fluid logo-footer"></a>
                  <div class="footer-about">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,  </p>
                  </div>

                </div>

                <div class="col-md-3">
                    <div class="social-links">
                        <h2>Redes</h2>
                        <div class="social-icons">
                            <a href="https://wa.me/message/ZCNQFNJRAUGUH1" class="btn btn-whatsapp" target="_blank"> 
                                <img src="../../assets/img/whatsapp.png" alt="WhatsApp Icon" class="whatsapp-icon">
                                WhatsApp 
                            </a>
                            <a href="https://www.instagram.com/miabeautycol/" class="btn btn-instagram" target="_blank">
                                <img src="../../assets/img/instagram.png" alt="Instagram Icon" class="instagram-icon">
                                Instagram
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="address">
                        <h2 class="title">Ubicación</h2>
                        <div class="address-links">
                            <li class="address1">Medellin,Colombia</li>
                            <br>
                            <h2 class="title">Contacto</h2>
                            <li class="address1">+573506955020</li>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- footer section end -->
    <!-- footer copy right section start -->
    <section id="copy-right">
        <div class="copy-right-sec"><i class="fa-solid fa-copyright"></i>  
            lorem ispum lorem ispum 2022 Powerd By <a href="#">lorem ispum</a> 


        </div>

    </section>
    <!-- footer copy right section end -->