
#footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer {
    position: relative; /* Esto permite que los elementos hijos con position: absolute se posicionen en relación a este elemento */
}

#footer-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Esto coloca la imagen detrás del resto del contenido */
    opacity: 0.6;
}

#footer .col {
    flex: 1;
}

@media screen and (max-width: 767px) {
    .social-links, .address, .phone {
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: center !important;
    }
    .social-links h2, .address h2, .phone h2 {
        text-align: center !important;
    }
    .address, .phone {
        margin-top: 20px !important; /* Ajusta este valor según sea necesario para el espaciado entre elementos */
    }
    .phone-number{
        margin-right: 50px !important;
    }
}

#footer .col img {
    width: 30%; /* Ajusta este valor a tu gusto */
    height: auto; /* Esto mantiene la proporción del logo */
    border-radius: 50%;
}

.container .row .col-md-3 a img.img-fluid.logo-footer {
    width: 50%; /* Ajusta este valor a tu gusto */
    height: auto; /* Esto mantiene la proporción del logo */
    border-radius: 50%;
}

.img-fluid.logo-footer {
    border-radius: 60%; /* Esto hace que el logo sea redondo */
    display: block;
    margin: auto; /* Esto centra el logo horizontalmente */
}

.col-md-3 {
    display: flex;
    align-items: center; /* Esto centra el logo verticalmente */
    justify-content: center; /* Esto centra el logo horizontalmente */
}

.btn-whatsapp, .btn-instagram {
    display: flex;
    align-items: center;
}

.btn-whatsapp:hover {
    background-color: #2EB75A;
}

.whatsapp-icon {
    width: 30px;
    height: 30px;
    margin: 5px;
}

.btn-instagram:hover {
    background-color: #FC397A;
}

.instagram-icon {
    width: 30px;
    height: 30px;
    margin: 5px;
}

.social-links  {
    margin-left: 180px;
}
.social-links h2{
    margin-left: -15px;
}
.address{
    margin-left: 250px;
}
.phone{
    margin-left: 200px; 
}

.phone-number{
    margin-left: 50px;
}
.copy-right-sec{
	padding: 1 rem;
    background: #d3157d;
    color: #fff;
    text-align: center;
}
.copy-right-sec a{
	color: #fcd462;
    font-weight: 200;
}
a{
    text-decoration:none;
}