

.banner {
    background-image: url("../../assets/img/Banner2.jpg");
    background-position: center; /* Centra la imagen de fondo */
    background-size: cover;
    background-attachment: fixed;
    height: 100vh; /* Ajusta la altura al 100% de la altura de la ventana del navegador */
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
}

.banner::after {
    content: '';
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.picture {
    width: 250px; /* Ajusta el tamaño del logo según tus preferencias */
    height: 250px; /* Ajusta el tamaño del logo según tus preferencias */
    border-radius: 50%; /* Agrega un redondeado al logo */
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.picture, .p-5 {
    animation-name: slideDown;
    animation-duration: 9s; /* Controla la duración de la animación */
    animation-timing-function: ease-out; /* Controla la velocidad de la animación */
}

.p-5 {
    margin-top: 20px; /* Ajusta el espacio entre el logo y el título */
}

