<app-menu></app-menu>

<div class="banner text-white d-flex flex-column align-items-center">
    <img src="https://firebasestorage.googleapis.com/v0/b/miabeauty-765bd.appspot.com/o/MiaBLogo.png?alt=media&token=7c87e44f-620b-49bc-843b-0625611a3e98" alt="" class="picture">
    <div class="p-5 text-center">
        <h1>TU BOUTIQUE DE CONFIANZA</h1>
    </div>
</div>

<section class="banner2">
    <div class="container">
        <!-- Inicio de la introducción del catálogo -->
        <div class="row justify-content-center text-center mb-5">
            <div class="col-lg-8">
                <h2 class="display-4">Nuestro Catálogo</h2>
                <p class="lead">A continuación, encontrarás una selección de nuestros productos de maquillaje y accesorios para la mujer. Cada uno ha sido cuidadosamente seleccionado para ofrecerte la mejor calidad y estilo.</p>
            </div>
        </div>
            <div class="row">

                <!-- Repite este bloque para cada tarjeta -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/CorrecOjeras.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Corrector de ojeras ushas</h5>
                            <p class="card-text">
                                💯 Alta cobertura <br> 
                                💫textura suave <br>
                                ✔️fácil aplicación <br>
                                <!-- ✨Alta cobertura, perfecto para aclarar la zona de las ojeras y corregir imperfecciones. <br> -->
                                👌🏼Bueno para todo tipo de piel</p>
                            <!-- <a href="#" class="btn btn-primary">Ir a algún lugar</a> -->
                        </div>
                    </div>
                </div>
                
                <!-- Fin del bloque de la tarjeta -->

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/EncrespadorSeparador.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Encrespador + separador de pestañas</h5>
                            <p class="card-text">
                                ✔️Contamos con domicilios en Medellín 🛵 <br>
                                ✔️Envios seguros a todo el país ✈️.</p>
                            <!-- <a href="#" class="btn btn-primary">Ir a algún lugar</a> -->
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/ExfolianteCorporal.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:@pieldeorooficial</h5>
                            <p class="card-text">
                                🌟Aroma: café <br>
                                ✔️uso corporal <br>
                                ✔️Remueve las células muertas <br>
                            </p>
                            <!-- <a href="#" class="btn btn-primary">Ir a algún lugar</a> -->
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/GelParaCejas.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Gel para cejas bye Ruby rose</h5>
                            <p class="card-text">
                                ☑️Rellena y define <br>
                                ✔️Tapa las canas de tus cejas <br>
                                🌟Textura en gel es extremadamente cómoda
                            </p>
                            <!-- <a href="#" class="btn btn-primary">Ir a algún lugar</a> -->
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/MascarillaAcirlla.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">MASCARILLA DE ARCILLA DOLCE BELLA</h5>
                            <p class="card-text">
                                ✔️Extractos de Aguacate, Menta, Naranja, Algas, Pepino, Café, Ginseng y Uva <br>
                                ✨USO: Aplicar sobre la piel limpia y seca
                            </p>
                            <!-- <a href="#" class="btn btn-primary">Ir a algún lugar</a> -->
                        </div>
                    </div>
                </div>
                

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/MascarillaExfoliante.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Mascarilla exfoliante</h5>
                            <p class="card-text">
                                🌟aplicarse sobre el rostro limpio, dejar actuar durante 20 minutos y retirar con agua fria <br>
                                ✔️Kiss Beauty promete con su maquillaje ofrecer belleza y cuidado personal a todas las mujeres
                            </p>
                            <!-- <a href="#" class="btn btn-primary">Ir a algún lugar</a> -->
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/SplashCremaCorporal.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Deliciosos Splash</h5>
                            <p class="card-text">
                                🎀Dale un aroma unico a tu cuerpo durante tu dia a dia <br>
                                📱Haz tu pedido al WhatsApp 📞3506955020 <br>
                                ✨Escríbenos al direct 📲 <br>
                
                            </p>
                            <!-- <a href="#" class="btn btn-primary">Ir a algún lugar</a> -->
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/TintaLabios.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Tinta de labios by engol</h5>
                            <p class="card-text">
                                🌟Larga duración <br>
                                ✨No queda pegajosa! Y aporta un efecto natural <br>
                                👄Luce los labios que siempre haz soñado
                                ✅Cuida y protege tus labios del sol y la resequedad
                            </p>
                            <!-- <a href="#" class="btn btn-primary">Ir a algún lugar</a> -->
                        </div>
                    </div>
                </div>
                

            </div>
    </div>
</section>

<section class="banner3">
    <div class="container">
        <div class="row">

            <!-- Repite este bloque para cada tarjeta -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card animate__animated animate__slideInDown">
                <img class="card-img-top" src="../../assets/img/CorrecOjeras.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Corrector de ojeras ushas</h5>
                    <p class="card-text">
                        💯 Alta cobertura <br> 
                        💫textura suave <br>
                        ✔️fácil aplicación <br>
                        <!-- ✨Alta cobertura, perfecto para aclarar la zona de las ojeras y corregir imperfecciones. <br> -->
                        👌🏼Bueno para todo tipo de piel</p>
                    <!-- <a href="#" class="btn btn-primary">Ir a algún lugar</a> -->
                </div>
                </div>
            </div>
            <!-- Fin del bloque de la tarjeta -->

        </div>
    </div>
</section>

<section class="banner4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2023 Todos los derechos reservados.</p>
            </div>
            <div class="col-md-6 text-right">
                <p>Desarrollado por: Carlos Andres Marin Agudelo</p>
            </div>
        </div>
    </div>
</section>