<app-menu></app-menu>

<div class="banner text-white d-flex flex-column align-items-center">
    <img src="https://firebasestorage.googleapis.com/v0/b/miabeauty-765bd.appspot.com/o/MiaBLogo.png?alt=media&token=7c87e44f-620b-49bc-843b-0625611a3e98" alt="" class="picture">
    <div class="p-5 text-center">
        <h1>TU BOUTIQUE DE CONFIANZA</h1>
    </div>
</div>

<app-makeup></app-makeup>
<app-clothing></app-clothing>


<!-- <section class="banner4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2023 Todos los derechos reservados.</p>
            </div>
            <div class="col-md-6 text-right">
                <p>Desarrollado por: Carlos Andres Marin Agudelo</p>
            </div>
        </div>
    </div>
</section> -->

<app-footer></app-footer>