<section class="banner3">
    <div class="container">
        <!-- Inicio de la introducción del catálogo -->
        <div class="row justify-content-center text-center mb-5">
            <div class="col-lg-8">
                <h2 class="display-4">Nuestro catálogo de las mejores prendas</h2>
                <p class="lead">A continuación, encontrarás una selección de nuestros productos de maquillaje y accesorios para la mujer. Cada uno ha sido cuidadosamente seleccionado para ofrecerte la mejor calidad y estilo.</p>
            </div>
        </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img3.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Crop top con copa y tiritas en cadena</h5>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img4.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Crop top de encaje y varilla</h5>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img5.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Vestido en hilo</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img7.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Pantalón en scuba gamusa</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img8.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Vestido en rib</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img9.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Conjunto dulce maría</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img10.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Corset en tela chantichin y mallatex</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img11.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img12.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img13.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img14.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img15.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img16.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img17.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img18.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Vestido aurora</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img19.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Body encaje</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img20.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Short taches tela jean rígido</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img22.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img23.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Body polilycra</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img24.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Vestido Anastasia</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img25.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Camisetas básicas</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img27.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Bota ancha con vena</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img28.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Corset</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img29.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Pañoleta en hilo</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img30.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Conjunto en burda de algodón</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img31.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Beisbolera en tela peluche</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img32.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Conjunto rib nacional</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img33.heic" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Conjunto burda gruesa</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img36.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Blusa tipo corset en pico Tela destellante stretch</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img37.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Sudadera burda & blusa licra algodón</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img38.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Jogger tipo cargo y blusón</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img40.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Top de una manga en transparencia</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img42.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Crop Top</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img43.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img44.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img45.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img46.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img47.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img48.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img49.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img50.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img51.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img52.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img53.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img54.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img55.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img56.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img57.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img58.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img59.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img60.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img61.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img62.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img63.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img64.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img65.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img66.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img67.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img68.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img69.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img70.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img71.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img72.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img73.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img74.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img75.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img76.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img77.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img78.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img79.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img80.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img81.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img82.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img83.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img84.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img85.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img86.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img87.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img88.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img89.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img90.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card animate__animated animate__slideInDown" data-aos="fade-down">
                        <img class="card-img-top" src="../../assets/img/img91.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Exfoliante Corporal By:pieldeorooficial</h5>
                        </div>
                    </div>
                </div>
                <div class="btn-container">
                    <a href="https://www.instagram.com/mia.beautyboutique/" class="btn btn-instagram" target="_blank">
                        ¡CLICK ACÁ!<br>Visita nuestro Instagram y conoce nuestro catalogo completo<br>
                        <img src="../../assets/img/instagram.png" alt="Instagram Icon" class="instagram-icon">
                    </a>
                
                    <a href="https://wa.me/message/ZCNQFNJRAUGUH1" class="btn btn-whatsapp" target="_blank">
                        ¡CLICK ACÁ!<br> Y te daremos una asesoría personal sobre todo nuestros productos<br>
                        <img src="../../assets/img/whatsapp.png" alt="WhatsApp Icon" class="whatsapp-icon">
                    </a>
                </div>
            </div>
    </div>
</section>