

.banner {
    background-image: url("../../assets/img/Banner2.jpg");
    background-position: center; /* Centra la imagen de fondo */
    background-size: cover;
    background-attachment: fixed;
    height: 100vh; /* Ajusta la altura al 100% de la altura de la ventana del navegador */
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
}

.banner::after {
    content: '';
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.picture {
    width: 250px; /* Ajusta el tamaño del logo según tus preferencias */
    height: 250px; /* Ajusta el tamaño del logo según tus preferencias */
    border-radius: 50%; /* Agrega un redondeado al logo */
}


.banner3 {
    background-image: url("../../assets/img/MiaBeauty.jpg");
    background-position: top center;
    background-size: 20%; /* Puedes ajustar el valor según tus necesidades */
    background-attachment: fixed;
    padding: 25% 0;
    position: relative;
    z-index: 1;
}

.banner3::after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.picture, .p-5 {
    animation-name: slideDown;
    animation-duration: 9s; /* Controla la duración de la animación */
    animation-timing-function: ease-out; /* Controla la velocidad de la animación */
}

.p-5 {
    margin-top: 20px; /* Ajusta el espacio entre el logo y el título */
}

/* .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    justify-items: center;
} */

.card {
    width: 80%;
    height: auto; /* Esto mantendrá la proporción de la tarjeta */
    margin: 10px;
    margin-left: 70px;
    border-radius: 10px; /* Ajusta el borde redondeado de las tarjetas */
    transition: transform .2s; /* Ajusta la velocidad de la animación */
}


/* Estilos para pantallas de celular */
@media (max-width: 991px) {
    .card {
        /* Aquí puedes definir los estilos específicos para pantallas de celular */
        width: 70%;
    }
}


.card:hover,
.card:active {
    transform: scale(2.1); /* Ajusta el nivel de zoom */
}

.card-body h5 {
    text-align: center;
}

.banner3 .display-4 {
    font-size: 2.3rem; /* Ajusta el tamaño de la fuente del título */
    font-weight: bolder;
    color: #ffffff; /* Ajusta el color del título */
    text-transform: uppercase; /* Convierte el texto del título a mayúsculas */
    letter-spacing: 1px; /* Añade un espacio entre las letras del título */
    margin-bottom: 20px; /* Añade un espacio debajo del título */
    background-color: rgba(0, 0, 0, 0.1); /* Añade un fondo semitransparente */
    padding: 10px; /* Añade un espacio alrededor del texto */
}

.banner3 .lead {
    font-size: 1.25rem; /* Ajusta el tamaño de la fuente de la descripción */
    color: #666; /* Ajusta el color de la descripción */
    line-height: 1.5; /* Ajusta el espacio entre las líneas de la descripción */
    font-weight: bolder;
    color: #ffffff; /* Ajusta el color del título */
    background-color: rgba(0, 0, 0, 0.1); /* Añade un fondo semitransparente */
    padding: 10px; /* Añade un espacio alrededor del texto */
}
/* Estilos para el contenedor de los botones */
.btn-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Estilos para el botón de Instagram */
.btn-instagram {
    display: inline-block;
    background-color: #E1306C; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 20px 30px; /* Espaciado interno */
    border-radius: 50px; /* Bordes redondeados */
    text-decoration: none; /* Elimina el subrayado */
    font-size: 1em; /* Tamaño del texto */
    width: 320px; /* Ancho del botón */
    height: 130px; /* Alto del botón */
    text-align: center; /* Centra el texto dentro del botón */
    transition: background-color 0.3s ease; /* Transición suave al pasar el mouse */
}

.btn-instagram:hover {
    background-color: #FC397A; /* Color de fondo al pasar el mouse */
}

/* Estilos para el ícono de Instagram */
.instagram-icon {
    width: 30px; /* Ancho del ícono */
    height: 30px; /* Altura del ícono */
    display: block; /* Hace que el ícono esté en su propia línea */
    margin: 5px auto; /* Centra el ícono horizontalmente y agrega un pequeño espacio arriba y abajo */
}

/* Estilos para el botón de WhatsApp */
.btn-whatsapp {
    display: inline-block;
    background-color: #25D366; /* Color de fondo de WhatsApp */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 50px; /* Bordes redondeados */
    text-decoration: none; /* Elimina el subrayado */
    font-size: 1em; /* Tamaño del texto */
    width: 320px; /* Ancho del botón */
    height: 130px; /* Alto del botón */
    text-align: center; /* Centra el texto dentro del botón */
    transition: background-color 0.3s ease; /* Transición suave al pasar el mouse */
}

.btn-whatsapp:hover {
    background-color: #2EB75A; /* Color de fondo al pasar el mouse */
}

/* Estilos para el ícono de WhatsApp */
.whatsapp-icon {
    width: 30px; /* Ancho del ícono */
    height: 30px; /* Altura del ícono */
    display: block; /* Hace que el ícono esté en su propia línea */
    margin: 5px auto; /* Centra el ícono horizontalmente y agrega un pequeño espacio arriba y abajo */
}